:root {
    --bg: #A1B5D8;
    --nav-bar: #2A2F3C;
    --nav-text: #0B6C54;
    --btn-blue: #46B1C9;
    --accent: #23CE6B;
    --text-white: #FBFBFB;
  }
.login{
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    
}

.login-header{
    font-size: 250%;
    color: #040405;
}

.login-form{
    display: inline-block;
}

.input-container{
    background-color: rgba(98, 98, 99, 0.459);
    padding: .02px 25px 10px;
}

.input-field-label{
    font-size: 1.7em;
    color: #312f38;
}

.login-input{
    background-color: rgb(255, 255, 255);
    font-size: 1.7em;
    border-radius: 10px;
}

.buttons{
    display: inline-block;
}
.login-button{
    font-size: 1.7em;
    border-radius: 10px;
}

.register-button{
    font-size: 1.7em;
    border-radius: 10px;
}
