:root {
    --border-color: #000;
    --grey: #2d2e2e;
    --btn-blue: #3891a6;
    --btn-text-white: #fbfbfb;
    --body-color: #b0c4de;
    --inner-container-color: #add8e6;
    --container-color: #6bbeba;
    --text-color: #0a232b;
}
.genre-list-books{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genre-list-page-title{
    font-size: 2.3em;
    color: var(--text-color);
}
.genre-list-book-container{
    background-color: var(--container-color);
    width: 700px;
    height: 540px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}
.genre-list-book-details{
    background-color: var(--inner-container-color);
    color: var(--text-color);
    font-size: 2.2em;
    margin-left: 15px;
    margin-right: 15px;
    height: 430px
}
.genre-list-checkout-btn{
    border-radius: 10px;
    font-size: 1.5em;
    background-color: var(--btn-blue);
    color: var(--btn-text-white);
    margin-top: 10px;
    margin-bottom: 20px;
}
.genre-list-home-button{
    margin-top: -10px;
    margin-bottom: 50px;
}
.genre-list-home-btn{
    border-radius: 10px;
    font-size: 1.5em;
    width: 120px;
    background-color: var(--btn-blue);
    color: var(--btn-text-white);
}