:root {
    --bg: #A1B5D8;
    --border-color: #000;
    --grey: #2d2e2e;
    --btn-blue: #3891a6;
    --btn-text-white: #fbfbfb;
    --body-color: #b0c4de;
    --inner-container-color: #add8e6;
    --container-color: #6bbeba;
    --text-color: #0a232b;
}
.owner-home-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.owner-home-body {
    width: 500px;
    height: fit-content;
    margin-top: 80px;
    margin-bottom: 20px;
}


.action-container{
    border: 2px;
    border-style: solid;
    margin-bottom: 25px;
    text-align: center;
    background-color: var(--container-color);
    border-radius: 10px;
}

.textHeader{
    color: var(--text-color);
    font-size: 2.2em;
    margin-left: 10px;
}

.owner-action-button{
    background-color: var(--btn-blue);
    color: var(--text-white);
    font-size: 1.2em;
    width: 140px;
    border-radius: 5px;
    border: 1px solid var(--grey);
}

