:root {
  --border-color: #000;
  --grey: #2d2e2e;
  --btn-blue: #3891a6;
  --btn-text-white: #fbfbfb;
  --body-color: #b0c4de;
  --inner-container-color: #add8e6;
  --container-color: #6bbeba;
  --text-color: #0a232b;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
