:root {
    --bg: #0f0f0f;
    --grey: #2d2e2e;
    --btn-blue: #3891a6;
    --accent: #23ce6b;
    --text-white: #fbfbfb;
}
.profile-page-main {
    /* width: fit-content;
    height: fit-content; */
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.profile-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4em;
    color: #0f0f0f;
}

.profile-body{
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    padding: 20px;
    background-color: var(--container-color);
}

.profile-firstName{
    display: inline;
    font-size: 24pt;
    font-weight: bold;
    color: #0f0f0f;
    margin-bottom: 15px;
}

.profile-lastName{
    display: inline;
    font-size: 24pt;
    font-weight: bold;
    color: #0f0f0f;
    margin-bottom: 15px;
}

.profile-email{
    display: inline;
    font-size: 24pt;
    font-weight: bold;
    color: #0f0f0f;
    margin-bottom: 15px;
}

.profile-password{
    display: inline;
    font-size: 24pt;
    font-weight: bolder;
    color: #0f0f0f;
    margin-bottom: 15px;
}

.edit-info-btn{
    background-color: var(--btn-blue);
    color: var(--text-white);
    width: 150px;
    height: 40px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    margin-top: 20px;
    padding: auto;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}