:root {
    --border-color: #000;
    --grey: #2d2e2e;
    --btn-blue: #3891a6;
    --btn-text-white: #fbfbfb;
    --body-color: #b0c4de;
    --inner-container-color: #add8e6;
    --container-color: #6bbeba;
    --text-color: #0a232b;
  }
.recent-page-books{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recent-page-title{
    font-size: 2.6em;
    color: var(--text-color);
}
.recent-page-book-container{
    background-color: var(--container-color);
    width: 600px;
    height: 500px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--border-color);
}
.recent-page-book-details{
    background-color: var(--inner-container-color);
    color: var(--text-color);
    font-size: 2.2em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    height: 400px;
}

.inner-text-div {
    margin-top: 15px;
    text-align: left;
    margin-left: 15px;
    font-size: 24pt;
}

.recent-page-book-checkout-btn{
    border-radius: 10px;
    font-size: 1.5em;
    background-color: var(--btn-blue);
    color: var(--btn-text-white);
    margin-top: 20px;
    margin-bottom: 20px;
}
.recent-page-home-button{
    margin-top: 10px;
    margin-bottom: 20px;
}
.recent-page-btn{
    background-color: var(--btn-blue);
    border-radius: 10px;
    font-size: 1.8em;
    width: 120px;
    color: var(--btn-text-white);
}